body{
    font-family: "Roboto", sans-serif;
    color: #333;
    margin: 0px;
}

.linksMenu a{
    color: #656565;
    text-decoration: none;
    margin-right: 30px;
    font-size: 13px;
    align-items: center;  
}

.linksMenu a:hover{
    text-decoration: underline;
    color: black;
}

.abertura{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 200px 120px;
}

.abertura p{
   width: 500px; 
}

.buttonBuy{
    background: rgb(0, 132, 255);
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
}

.buttonBuy:hover{
    background-color:  blue;
    transition: 0.6s;
}

.abertura h2{
    font-size: 20px;
}

.alignButton{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cardProduto{
    width: 350px     ;
    border: 1px solid #fff2f2;
    box-shadow: 0px 3px 10px #000;
    margin: 50px;
}

.cardPadding{
    padding: 20px 40px;
}

.cardProduto img{
    width: 100%;  /* Ajusta o tamanho da imagem para o tamanho do "pai" */
}

.cardPadding button{   /* "Primeira" forma  */
    width: 100%;
}

.cardPadding .buttonBuy{    /* Uma outra forma de fazer */
    width: 100%;
}

.cardPadding .text{
    width: 200px;
    font-size: 27px;
    font-weight: 700;          /* "Peso" da fonte, deixa em negrito */
}
    
.cardPadding .textP{
    width: 280px;
    font-size: 15px;
}

.flexCards{
    display: flex;
    justify-content: center;
}

.flexMenu a{
    text-decoration: none;
    color: #656565;
}

.flexMenu a:hover{
    text-decoration: underline;
    color: black;
}

.alignMenu .linksMenu{ 
    align-items: center;
    display: flex;
}

.alignMenu .flexMenu{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    color: #656565;
    text-decoration: none;
    font-size: 13px;
    align-items: center;
}

.alignMenu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}