/* 
    Paleta de cores:
    Rosa do botão: #F564A9
    Etc.
*/

body{
    background: white;
    margin: 0%;
    margin-top: -30px;
}

.cabecalho{
    color: white;
    cursor: default;
    padding: 50px;                          /* É melhor criar uma class ao invés de usar o "h1" */
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.p1{    
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    font-size: 20px;
    cursor: default;
    text-align: center;
    position: relative;
    top: -50px;
}
.p2{
    color: deeppink ;
    text-align: right;
    position: relative;
    top: -50px;
    left: -40px;
    font-size: 15px;
}

    /* estilos novos */

.flexButton{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.styleButton{
    background: #F564A9;
    border: solid;
    border-radius: 5px;
    border-width: 3px;
}

.divBackground{
    background: #7F55B1;
}

.botaoInvertido{
    background: transparent;
    border: 2px groove #F564A9;
    border-radius: 5px;
    color: #F564A9;
    padding: 5px;
    font-size: 15px;
}

.container{
    margin-left: 100px;
}

